@import '../../../../sass/variables';

h2 {
  padding-left: 30px;
}

.meetup-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 0 10px;
}

.meetup-item {
  margin: 10px;
  flex-basis: 100%;
}

@media (min-width: $md-breakpoint) {
  .meetup-item {
    flex-basis: 47%;
  }
}

@media (min-width: $xl-breakpoint) {
  .meetup-item {
    flex-basis: 31.5%;
  }
}

