@import '../../../../sass/variables';

.meetup-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
}

.meetup-item {
  margin: 10px;
  flex-basis: 100%;
}

@media (min-width: $md-breakpoint) {
  .meetup-item {
    flex-basis: 47%;
  }
}

@media (min-width: $xl-breakpoint) {
  .meetup-item {
    flex-basis: 31.5%;
  }
}
