// ---- Application Colors
$primaryColor: #69D2E7
$secondaryColor: #FA6900
$textColor: #333333
$headingColor: #333333
$footerColor: #F38630
$headerColor: #A7DBD8
$whiteColor: #F5F5F5

// ---- Application Fonts
$fa-font-path: '../../node_modules/font-awesome/fonts'
@import url('https://fonts.googleapis.com/css?family=Abel')
