<header>
  <nav class="navbar">
    <div class="navbar-brand">
      <a routerLink="/"><img src="./assets/images/logo_meetup.png" alt="logo"> <strong>Meetup</strong></a>
    </div>
    <div class="items">
      <div class="item">
        <a routerLink="/login" routerLinkActive="active">Sign in</a>
      </div>
      <!--
      <div class="item">
        Sign up
      </div>
      -->
      <div class="item">
        <i class="fa fa-bars" aria-hidden="true"></i>
      </div>
    </div>
  </nav>
</header>

