@import '../../sass/variables';

.container {
  margin: auto;
  display: flex;
  align-items: inherit;
  flex-direction: column;
  flex-wrap: wrap;
  flex-grow: 1;
  height: 100vh;

  section {
    flex: 1;
    padding: 20px 15px;
  }
}
