@import '../../../../sass/variables';

.meetup-card {
  border: 0.3px solid $grayColor;
  border-radius: 3px;
  box-shadow: 0 3px 12px 0 rgba(0, 0, 0, 0.3);
  display: flex;
  flex-flow: column wrap;
  justify-content: flex-start;
  height: 100%;

  > div {
    padding: 10px;
    flex: 1;
  }
}

.title {
  height: 50px;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);

  h3 {
    margin: 0 !important;
    font-size: 22px;
    color: $headingColor;
  }
}

.description {
  padding: 10px 0;
}

.see-more {
  border-top: 0.5px solid darken($grayColor, 5%);
  background: lighten($grayColor, 1%);
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  padding: 8px;
  display: block;
  cursor: pointer;
  flex: 0 !important;

  &:hover {
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1) 0%, rgba(246, 246, 246, 1) 47%, rgba(237, 237, 237, 1) 100%);
    border-top: 0.5px solid darken($grayColor, 10%);

    a {
      color: $primaryColor;
    }
  }
}
