@import '../../../sass/variables';

.container {
  margin: auto;
  display: flex;
  align-items: inherit;
  flex-direction: column;
  height: 100vh;

  section {
    flex: 1;
    padding: 20px 15px;
    max-width: 1200px;
    margin: 0;
    align-self: center;
    width: 100%;
  }
}

