@import '../../../../sass/variables';

footer {
  background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
  height: 100px;
  text-align: center;
  color: $whiteColor;
  display: flex;
  align-items: center;
  justify-content: center;
}
